.cart-item-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.cart-item-card:hover {
  transform: translateY(-5px);
}

.cart-item-image img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.cart-item-details {
  flex: 1;
  margin-left: 20px;
}

.cart-item-price-remove {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-icon {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.remove-icon:hover {
  transform: scale(1.1);
}
